# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# DOMOTIC
# ---------------------------------------------

# -- Home assistant
HOME_ASSISTANT_PORT=
