# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# DOCKER UTILS
# ---------------------------------------------

# -- Ports
TRAEFIK_DASHBOARD_PORT=

# -- TLS (letsEncrypt & cloudflare)
CLOUDFLARE_DNS_API_TOKEN=
EMAIL=
