# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
TZ=


# ---------------------------------------------
# VPN
# ---------------------------------------------

# -- Ports
QBITTORRENT_PORT=
NZBGET_PORT=

# -- PIA
VPN_PROVIDER=
VPN_USER=
VPN_PASSWORD=
VPN_REGIONS=
VPN_PORT_FORWARDING=
