# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# VPN
# ---------------------------------------------

# -- Ports
QBITTORRENT_PORT=
NZBGET_PORT=

# -- PIA
VPN_PROVIDER=
VPN_USER=
VPN_PASSWORD=
VPN_REGIONS=
VPN_PORT_FORWARDING=

# -- API Keys for port forwarding sync gluetun/qBittorrent
GSP_GTN_API_KEY=
