# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# CLOUD
# ---------------------------------------------

STORAGE_PATH=

# -- Filebrowser
FILEBROWSER_PORT=

FILEBROWSER_OICD_CLIENT_ID=
FILEBROWSER_OICD_CLIENT_SECRET=

# -- Immich
IMMICH_VERSION=

IMMICH_UPLOAD_LOCATION=

IMMICH_DB_USERNAME=
IMMICH_DB_PASSWORD=
IMMICH_DB_DATABASE_NAME=
