# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# CLOUD
# ---------------------------------------------

FILEBROWSER_PORT=

FILEBROWSER_OICD_CLIENT_ID=
FILEBROWSER_OICD_CLIENT_SECRET=

STORAGE_PATH=
