# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# CLOUD
# ---------------------------------------------

FILEBROWSER_PORT=

STORAGE_PATH=
