# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# DOWNLOADS
# ---------------------------------------------

# -- Ports
QBITTORRENT_PORT=
NZBGET_PORT=

# -- PATHS
MEDIA_PATH=

# -- NZBGET
NZBGET_USER=
NZBGET_PASS=
