# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=

# ---------------------------------------------
# MONITORING
# ---------------------------------------------

UPTIME_KUMA_PORT=
