# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# DEVTOOLS
# ---------------------------------------------

# -- OpenCode
OPENCODE_PORT=
OPENCODE_WORKSPACE_PATH=

# -- Obsidian livesync CouchDB
OBSIDIAN_COUCHDB_PORT=
OBSIDIAN_COUCHDB_USER=
OBSIDIAN_COUCHDB_PASSWORD=
