# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# DEVTOOLS
# ---------------------------------------------

# -- OpenCode
# Path to workspace directory for projects
WORKSPACE_PATH=
