# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# DEVTOOLS
# ---------------------------------------------

# -- OpenCode
OPENCODE_PORT=
OPENCODE_WORKSPACE_PATH=

# -- N8N
N8N_PORT=
N8N_POSTGRESQL_PORT=
N8N_POSTGRESQL_DB=
N8N_POSTGRESQL_USER=
N8N_POSTGRESQL_PASS=

# -- Obsidian livesync CouchDB
OBSIDIAN_COUCHDB_PORT=
OBSIDIAN_COUCHDB_USER=
OBSIDIAN_COUCHDB_PASSWORD=
