# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=



# ---------------------------------------------
# AUTH
# ---------------------------------------------

# -- Ports
AUTHENTIK_POSTGRESQL_PORT=
AUTHENTIK_REDIS_PORT=
AUTHENTIK_SERVER_PORT=

# -- Authentik database
PG_DB=
PG_USER=
PG_PASS=

# -- Authentik server
AUTHENTIK_SECRET_KEY=

AUTHENTIK_HOST=
AUTHENTIK_TOKEN=

AUTHENTIK_ERROR_REPORTING__ENABLED=

AUTHENTIK_EMAIL__HOST=
AUTHENTIK_EMAIL__PORT=
AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=
AUTHENTIK_EMAIL__USE_TLS=
AUTHENTIK_EMAIL__USE_SSL=
AUTHENTIK_EMAIL__TIMEOUT=
AUTHENTIK_EMAIL__FROM=

# -- Authentik LDAP
AUTHENTIK_LDAP_TOKEN=
