# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# STREAMING
# ---------------------------------------------

# -- Ports
PROWLARR_PORT=
PROWLARR_FLARESOLVER_PORT=
PROWLARR_FLARESOLVER_PROMETHEUS_PORT=
PROWLARR_BYPARR_PORT=
SONARR_PORT=
RADARR_PORT=
OVERSEERR_PORT=
PLEX_PORT=
JELLYFIN_PORT=

# -- media
MEDIA_PATH=
MEDIA_UNIFIED_PATH=

# -- PLEX MEDIA SERVER
PMSTOKEN=

# -- DOPLARR
DOPLAR_DISCORD_TOKEN=
DOPLAR_OVERSEERR_API_KEY=
