# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# STREAMING
# ---------------------------------------------

# -- media
MEDIA_PATH=
MEDIA_UNIFIED_PATH=

# -- Ports
JELLYFIN_PORT=
SEER_PORT=
PROWLARR_PORT=
PROWLARR_FLARESOLVER_PORT=
PROWLARR_BYPARR_PORT=
SONARR_PORT=
RADARR_PORT=
BAZARR_PORT=
