# ---------------------------------------------
# GENERAL
# ---------------------------------------------

DOMAIN=
PUID=
PGID=
TZ=


# ---------------------------------------------
# BACKUP
# ---------------------------------------------

# -- Ports
SOCKET_PROXY_PORT=
DUPLICATI_PORT=
RCLONE_PORT=

# -- Paths
LOCAL_BACKUPS_PATH=

# -- docker-volume-backup
GPG_PASSPHRASE=
BACKUP_BACKUP_NOTIFICATION_URLS=

# -- Rclone
RCLONE_USER=
RCLONE_PASS=
