# ---------------------------------------------
# BACKUP
# ---------------------------------------------

# -- Ports
SOCKET_PROXY_PORT=

# -- Paths
LOCAL_BACKUPS_PATH=

# -- docker-volume-backup
GPG_PASSPHRASE=
BACKUP_BACKUP_NOTIFICATION_URLS=
